# Python
__pycache__/
*.pyc
*.pyo

# Virtual Env
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Models
*.pkl
*.joblib
*.h5
*.tflite
*.cc

# Data
*.csv
*.parquet

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log